body{
    font-family: Arial, sans-serif;
    background-color: #fff8f0;
    color: #4a2c2a;
    margin: 0;
    padding: 0;
}

nav {
    background-color:#4a2c2a;
    padding: 15px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

nav a {
    color: #fff8f0;
    text-decoration: none;
    font-weight: bold;
}

h1,
h2,
p,
img {
    margin-left: 20px;
}

form {
    margin: 20px;
    max-width: 500px;
}

fieldset {
    border; 2px solid #4a2c2a;
    padding: 20px;
}

Label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
}

textarea {
    min-height: 100px;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #4a2c2a;
    color: #fff8f0;
    border: none;
}

@media (min-width:600px) {
    nav{
        flex-direction: row;
    }
}
