body{
    font-family: Arial, sans-serif;
    background-color: #fff8f0;
    color: #4a2c2a;
    margin: 0;
    padding: 0;
}

nav {
    background-color:#4a2c2a;
    padding: 15px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

nav a {
    color: #fff8f0;
    text-decoration: none;
    font-weight: bold;
}

h1,
h2,
p,
img {
    margin-left: 20px;
}

@media (min-width:600px) {
    nav{
        flex-direction: row;
    }
}